[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
autopep8 = "~=1.5"
pylint = "~=2.6"
pylint-quotes = "~=0.2"
pytest = "~=6.1"
pytest-mock = "~=3.3"
Faker = "~=4.9"
freezegun = "~=1.0.0"
rope = "~=0.18.0"

[packages]
requests = "~=2.24"
pytz = ">=2020"
workalendar = "~=12.1.0"

[requires]
python_version = "3.7"
