[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[packages]
requests = ">=2"
pytz = ">=2021.3"
workalendar = ">=16"

[dev-packages]
autopep8 = ">=1"
pylint = ">=2"
pylint-quotes = ">=0.2"
pytest = ">=6"
pytest-mock = ">=3"
Faker = ">=9"
freezegun = ">=1"
rope = ">=0.22"

[requires]
python_version = "3.9"
