service: busgv-bot

provider:
  name: aws
  runtime: python3.7
  stage: dev
  region: us-east-1
  # apiGateway:
  #   logs:
  #     restApi: true
  environment:
    TELEGRAM_BOT_TOKEN: ${env:TELEGRAM_BOT_TOKEN}

package:
  exclude:
    - '*'
  include:
    - funcs/**

functions:
  bot_webhook:
    handler: funcs/handler.bot_webhook
    events:
      - http:
          path: bot_webhook
          method: POST

plugins:
  - serverless-python-requirements
